<div class="col-md-3 widget-profil">
	<div class="row">

		<div class="affix">
			<!-- Begin profile information -->
			<div class="col-lg-12 col-md-12 col-sm-9 col-xs-12">
				<!-- Profile info -->
				<h1 style="
                    height: 350px;
                    border: black;
                    border-style: double;
                    align-content: center;
                ">My Profile info</h1>
				<!-- End Profile info -->  
				<br>
				<div id="profile_desc">
					<h1 class="glow" style="font-size:20px;">Google Ad</h1>
				</div>
				<!-- End Name -->  

			</div>
			<!-- End profile information -->

		</div>                                      
	</div> 
	<!-- end profile -->
</div>